{% extends "home.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type ="text/css" href="{% static 'mrc/submitted.css' %}">
{% endblock %}

{% block main %}
  <p>Your question: <div class="question"> {{ question }}</div></p>
  <p>Answer: <div class="answer"> {{ answer }}</div></p>
  <br>
  <p class="return">
    That was a pretty sick question. <a href="{% url 'mrc:detail_page' topic_instance.topic %}">Ask another one</a> about 
    this same topic or go back to the <a href="{% url 'mrc:questions_page' %}">list of topics</a> if you want.
  </p>
{% endblock %}