{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type ="text/css" href="{% static 'mrc/contact.css' %}">
    <title>Jack Schooley</title>
  </head>

  <body>
    <header>
      <h1>Jack Schooley's Website</h1>

      <nav>
        <ul>
          <li><a href="{% url 'mrc:homepage' %}">Home</a></li>
          <li><a href="{% url 'mrc:mrc_page' %}">Questions</a></li>
          <li><a href="{% url 'mrc:contact_page' %}">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <p>Contact me, you fool.</p>
    </main>

    <footer>
      <p>I'll maybe put like my Github and LinkedIn, etc. here</p>
    </footer>
  </body>
</html>