{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type ="text/css" href="{% static 'mrc/detail.css' %}">
    <title>Jack Schooley</title>
  </head>

  <body>
    <header>
      <h1>Welcome to Jack's website!</h1>
    </header>

    <nav>
      <ul>
        <li>Home</li>
        <li>Questions</li>
        <li>Contact</li>
      </ul>
    </nav>

    <main>
      <h2>Ask a question!</h2>
      <form action="submitted" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
    </main>

    <footer>
      <p>I'll maybe put like my Github and LinkedIn, etc. here</p>
    </footer>
  </body>
</html>