{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jack Schooley's website where you can ask questions about his background, interests, and how this site works.">
    <link rel="stylesheet" type ="text/css" href="{% static 'mrc/homepage.css' %}">
    <title>Jack Schooley</title>
  </head>

  <body>
    <header>
      <h1>Jack Schooley's Website</h1>

      <nav>
        <ul>
          <li><a href="{% url 'mrc:homepage' %}">Home</a></li>
          <li><a href="{% url 'mrc:mrc_page' %}">Questions</a></li>
          <li><a href="{% url 'mrc:contact_page' %}">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <p>
        What's up? I'm Jack. This main point of this website (for now) is to host a Machine Reading Comprehension project that I've 
        built from the ground up. You can head to the Questions section of the site to ask "me" questions about several topics 
        pertaining to my background, this project, and other things I'm interested in. You can also get my contact information in the
        Contact section.
      </p>
    </main>

    <footer>
      <p>I'll maybe put like my Github and LinkedIn, etc. here</p>
    </footer>
  </body>
</html>