{% extends "home.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type ="text/css" href="{% static 'contact.css' %}">
{% endblock %}

{% block main %}
  <p>
    For better or worse, I can't outsource all communication to an AI chatbot. For all other inquiries, you should definitely send 
    me an email.
  </p>
  <div class="email">jack@jackschooley.co</div>
  <p>Also feel free to connect with me on LinkedIn. Let me know that you saw this site!</p>
{% endblock %}