h1 {
    color: green;
    padding: 10px;
    text-align: center;
}

li {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

p {
    color: red;
    padding: 10px;
    text-align: center
}