.list {
    display: flex;
}

.list div {
    background-color: aqua;
    flex: 1;
    font-size: 1.3em;
    margin: 10px;
    padding: 10px;
}

.list a {
    color: rgb(47, 160, 53);
    text-decoration: none;
}

.list a:hover {
    color: black;
}

.list p {
    font-size: 1em;
}